/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/02/2016, 08:25:23
    Author     : exequiel
*/

body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 50px;
}

.navbar {
  margin-bottom: 20px;
}

.barra-lateral{
    
}

.titulo-pagina h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.view-producto p{
    text-align: center;
}

.buscar-producto{
    margin-bottom: 20px;
}

.footer-patri{
        margin-top: 40px;
        text-align: right;
}

.footer-patri small{
    
    padding-right: 50px;
    padding-bottom: 10px;
}
